.sidebar-1tnWFu {
    width: 14px !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sidebar-1tnWFu:hover {
    width: 240px !important;
}

.guilds-2JjMmN {
    transform: scale(0.5);
    top: -50% !important;
    left: -17px !important;
    height: 200% !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition: top 0s ease;
     -moz-transition: top 0s ease;
    -o-transition: top 0s ease;
    transition: top 0s ease;
}

.guilds-2JjMmN:hover {
    transform: scale(1);
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
}

.base-2jDfDU {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.guilds-2JjMmN:hover + .base-2jDfDU {
    left: 0px !important;
}

.base-2jDfDU {
    left: -35px !important;
}

.container-1eFtFS {
    width: 103% !important;
}
